*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.094)50%,rgba(0, 0, 0, 0.053)50%), url('/images/lp.webp.webp');
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #000000;
    font-size: 30px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: azure;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: black;
}

.search{
    width: 300px;
    float: left;
    margin-left: 300px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: #e0f7fa;
    border: 1px solid #a06e8f;
    margin-top: 13px;
    color: azure;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: black;
    border: 2px black;
    margin-top: 13px;
    color:azure;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: azure;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 2%;
    letter-spacing: 2px;
}

.content .cn{
    width: 130px;
    height: 40px;
    background: #87c9dc;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color: azure;
}

.content span{
    color: azure;
    font-size: 60px;
}

.form{
    width: 270px;
    height: 380px;
    background: linear-gradient(to top, rgb(171, 188, 203), rgb(133, 169, 204));
    position: absolute;
    top: -20px;
    left: 900px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
    background-color: black;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    color: azure;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: black;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: black;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: azure;
    transition: 0.4s ease;
}

.btnn:hover{
    background: cornflowerblue;
    color: black;
}

.btnn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: black;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    color: black;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: black;
}

.icon ion-icon{
    color: black;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icon ion-icon:hover{
    color: blue;

}

section {
    padding: 50px 0;
    text-align: center;
    background-color: #f7f7f7;
    margin-bottom: 40px;
}

section h2 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
}

.section-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#job-opportunities, #earn-rewards, #support, #resources, #about-us, #company {
    background-color: #ffffff;
    padding: 60px 0;
    border-radius: 8px;
}

#earn-rewards {
    background-color: #e0f7fa; /* Light teal background for visual variety */
}

#support {
    background-color: #fff8e1; /* Light yellow background */
}

#resources {
    background-color: #fce4ec; /* Light pink background */
}

#about-us {
    background-color: #e8f5e9; /* Light green background */
}

#company {
    background-color: #e3f2fd; /* Light blue background */
}

#footer {
    background-color: #2d2d2d;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

#footer .footer-content a {
    color: #87c9dc;
    text-decoration: none;
    margin: 0 10px;
}

#footer .footer-content a:hover {
    color: #11ce69;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white; 
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}


